﻿@model Models.HeroesOfTheStorm.CountData

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Criteria)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Hero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Criteria)
            </td>
        </tr>
    </tbody>
</table>

