﻿@model Models.HeroesOfTheStorm.Hero

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.Name)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.BlizzardUniverse)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.Class)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.Quests)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.BlizzardUniverse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Quests)
            </td>
        </tr>
    </tbody>
</table>

