﻿@page
@model RecordTrackingApplication.Pages.CountDatas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CountData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountData.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountData.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountData.Criteria)
        </dt>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CountData.DataId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
