﻿@page
@model RecordTrackingApplication.Pages.CountDatas.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CountData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CountData.Value" class="control-label"></label>
                <input asp-for="CountData.Value" class="form-control" />
                <span asp-validation-for="CountData.Value" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CountData.DataId" />
            <div class="form-group">
                <label asp-for="CountData.CriteriaId" class="control-label"></label>
                <select asp-for="CountData.CriteriaId" class="form-control" asp-items="ViewBag.CriteriaId"></select>
                <span asp-validation-for="CountData.CriteriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
