﻿@page
@model RecordTrackingApplication.Pages.CountDatas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountData[0].Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountData[0].Criteria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountData[0].Hero)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CountData) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Criteria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hero)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DataId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DataId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DataId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
