﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <p>This is a terrible hobby project that might get abandoned. It's probably going to throw an exception at some point.</p>
    <p>This website's source code is hosted on <a href="https://gitlab.com/dsun_au/record-tracker-application">Gitlab</a>.</p>
    <p>This is a <span class="font-weight-bold">@Model.BuildType</span> build.</p>
</div>
