﻿@page
@model RecordTrackingApplication.Pages.Records.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div hidden="@Model.ModelState.IsValid" class="text-center badge-danger">One or more fields are invalid</div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger alert-heading"></div>
            <div class="form-group">
                <label asp-for="Record.Hero" class="control-label"></label>
                <select asp-for="Record.Hero" asp-items="ViewBag.HeroId" class="form-control"></select>
                <span asp-validation-for="Record.Hero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.RecordName" class="control-label"></label>
                <input asp-for="Record.RecordName" class="form-control" />
                <span asp-validation-for="Record.RecordName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.ProperRecordName" class="control-label"></label>
                <input asp-for="Record.ProperRecordName" class="form-control" />
                <span asp-validation-for="Record.ProperRecordName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Record.RecordType" class="control-label"></label>
                <select asp-for="Record.RecordType" asp-items="Html.GetEnumSelectList<Models.RecordTypes>()" class="form-control"></select>
                <span asp-validation-for="Record.RecordType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
