﻿@page
@model RecordTrackingApplication.Pages.Records.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<p class="text-danger">@Model.ErrorMessage</p>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Record</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Hero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Hero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.RecordName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.RecordName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.ProperRecordName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.ProperRecordName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.RecordType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.RecordType)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Record.RecordId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
