﻿@page
@model RecordTrackingApplication.Pages.Records.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Record</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.Hero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.Hero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.RecordName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.RecordName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.ProperRecordName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.ProperRecordName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.RecordType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Record.RecordType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Record.RecordEntries)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Person</th>
                    <th>Time of Entry</th>
                    <th>Value Type</th>
                    <th>Value</th>
                </tr>
                @foreach (var item in Model.Record.RecordEntries)
                {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.NameOfHolder)
                </td>
                <td>
                    @Html.DisplayFor(model => item.EntryTime)
                </td>
                <td>
                    @Html.DisplayFor(model => item.RecordValueType)
                </td>
                @if (item.RecordValueType == Models.RecordValueTypes.Time)
                {
                    <td>
                        @Html.DisplayFor(model => item.ValueTime)
                    </td>
                }
                @if (item.RecordValueType == Models.RecordValueTypes.Count)
                {
                    <td>
                        @Html.DisplayFor(model => item.ValueCount)
                    </td>
                }
            </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Record.RecordId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
