﻿@page
@model RecordTrackingApplication.Pages.Records.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].Hero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].RecordName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].ProperRecordName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].RecordType)
            </th>
            <th>
                Number of Entries
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].BestRecordEntry)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Record)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Hero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProperRecordName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordType)
                </td>
                <td>@item.RecordEntries.Count()</td>
                <td>
                    @if (item.BestRecordEntry != null)
                    {
                        <table class="table">
                            <tr>
                                <th>Person</th>
                                <th>Time of Entry</th>
                                @if (item.BestRecordEntry.RecordValueType == Models.RecordValueTypes.Time)
                                {
                                    <th>
                                        @Html.DisplayNameFor(model => item.BestRecordEntry.ValueTime)
                                    </th>
                                }
                                @if (item.BestRecordEntry.RecordValueType == Models.RecordValueTypes.Count)
                                {
                                    <th>
                                        @Html.DisplayNameFor(model => item.BestRecordEntry.ValueCount)
                                    </th>
                                }
                            </tr>
                            <tr>
                                <td>@Html.DisplayFor(model => item.BestRecordEntry.NameOfHolder)</td>
                                <td>@Html.DisplayFor(model => item.BestRecordEntry.EntryTime)</td>
                                @if (item.BestRecordEntry.RecordValueType == Models.RecordValueTypes.Time)
                                {
                                    <td>@Html.DisplayFor(model => item.BestRecordEntry.ValueTime)</td>
                                }
                                @if (item.BestRecordEntry.RecordValueType == Models.RecordValueTypes.Count)
                                {
                                    <td>@Html.DisplayFor(model => item.BestRecordEntry.ValueCount)</td>
                                }

                            </tr>
                        </table>
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.RecordId">Edit</a>
                    <br />
                    <a asp-page="./Details" asp-route-id="@item.RecordId">Details</a>
                    <br />
                    <a asp-page="./Delete" asp-route-id="@item.RecordId">Delete</a>
                    <br />
                    <a asp-page="/RecordEntries/Create" asp-route-recordId="@item.RecordId" class="text-nowrap">Add New Entry</a>

                </td>
            </tr>
        }
    </tbody>
</table>
