﻿@page
@model RecordTrackingApplication.Pages.Heroes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hero</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.Class)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.Class)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hero.BlizzardUniverse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hero.BlizzardUniverse)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Hero.HeroId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
