﻿@page
@model RecordTrackingApplication.Pages.Heroes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Hero</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Hero.HeroId" />
            <div class="form-group">
                <label asp-for="Hero.Name" class="control-label"></label>
                <select asp-for="Hero.Name" class="form-control"></select>
                <span asp-validation-for="Hero.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hero.Class" class="control-label"></label>
                <select asp-for="Hero.Class" class="form-control"></select>
                <span asp-validation-for="Hero.Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hero.BlizzardUniverse" class="control-label"></label>
                <select asp-for="Hero.BlizzardUniverse" class="form-control"></select>
                <span asp-validation-for="Hero.BlizzardUniverse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

