﻿@page
@model RecordTrackingApplication.Pages.Heroes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hero[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hero[0].Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hero[0].BlizzardUniverse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hero[0].Quests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hero[0].Datas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Hero)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlizzardUniverse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quests)
                </td>
                <td>
                    @foreach (var data in item.Datas)
                    {
                        @Html.DisplayFor(modelItem => data, "CountData_NoHero")
                        <br/>
                  
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.HeroId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.HeroId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.HeroId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
