﻿@page
@model RecordTrackingApplication.Pages.RecordEntries.CreateDetailedModel

@{
    ViewData["Title"] = "CreateDetailed";
}

<h1>CreateDetailed</h1>

<h4>RecordEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div hidden="@Model.ModelState.IsValid" class="text-center badge-danger">One or more fields are invalid</div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="RecordEntry.RecordId" />
                <label asp-for="RecordEntry.RecordId" class="control-label"></label>
                <select asp-for="RecordEntry.RecordId" class="form-control" asp-items="ViewBag.RecordId" disabled></select>
                <span asp-validation-for="RecordEntry.RecordId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="RecordEntry.RecordValueType" />
                <label asp-for="RecordEntry.RecordValueType" class="control-label"></label>
                <select asp-for="RecordEntry.RecordValueType" asp-items="Html.GetEnumSelectList<Models.RecordValueTypes>()" class="form-control" disabled></select>
                <span asp-validation-for="RecordEntry.RecordValueType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordEntry.EntryTime" class="control-label"></label>
                <span class="text-center flex-nowrap form-inline">
                    <input id="EntryTimeInput" asp-for="RecordEntry.EntryTime" asp-format="{0:yyyy-MM-ddTHH:mm}" type="datetime-local" class="form-control" />
                    @{
                        TimeSpan timeZoneOffset = Model.RecordEntry.EntryTime.Offset;
                        string formatString = $@"{(timeZoneOffset < TimeSpan.Zero ? @"\-" : @"\+")}dd\.hh\:mm";
                    }
                    <span class="offset-1 text-nowrap">UTC @timeZoneOffset.ToString(formatString)</span>
                </span>
                <span asp-validation-for="RecordEntry.EntryTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordEntry.NameOfHolder" class="control-label"></label>
                <input asp-for="RecordEntry.NameOfHolder" class="form-control" />
                <span asp-validation-for="RecordEntry.NameOfHolder" class="text-danger"></span>
            </div>
            <div class="card-body rounded bg-light border border-dark">
                <div class="text-center">Value</div>
                <div class="form-group">
                    <label asp-for="RecordEntry.ValueTime" class="control-label"></label>
                    <input asp-for="RecordEntry.ValueTime" class="form-control" disabled="@Model.TimeValueInputDisabled" />
                    <span asp-validation-for="RecordEntry.ValueTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RecordEntry.ValueCount" class="control-label"></label>
                    <input asp-for="RecordEntry.ValueCount" class="form-control" disabled="@Model.CountValueInputDisabled" />
                    <span asp-validation-for="RecordEntry.ValueCount" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
