﻿@page
@model RecordTrackingApplication.Pages.RecordEntries.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RecordEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecordEntry.RecordId" class="control-label"></label>
                <select asp-for="RecordEntry.RecordId" class="form-control" asp-items="ViewBag.RecordId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RecordEntry.RecordValueType" class="control-label"></label>
                <select asp-for="RecordEntry.RecordValueType" asp-items="Html.GetEnumSelectList<Models.RecordValueTypes>()" class="form-control"></select>
                <span asp-validation-for="RecordEntry.RecordValueType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
