﻿@page
@model RecordTrackingApplication.Pages.RecordEntries.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RecordEntry</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecordEntry.NameOfHolder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecordEntry.NameOfHolder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecordEntry.EntryTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecordEntry.EntryTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecordEntry.RecordValueType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecordEntry.RecordValueType)
        </dd>
        @if (Model.RecordEntry.RecordValueType == Models.RecordValueTypes.Time)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RecordEntry.ValueTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RecordEntry.ValueTime)
            </dd>
        }
        @if (Model.RecordEntry.RecordValueType == Models.RecordValueTypes.Count)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RecordEntry.ValueCount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RecordEntry.ValueCount)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecordEntry.Record)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecordEntry.Record.RecordId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="RecordEntry.RecordEntryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
