﻿@page
@model RecordTrackingApplication.Pages.RecordEntries.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RecordEntry</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecordEntry.NameOfHolder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecordEntry.NameOfHolder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecordEntry.EntryTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecordEntry.EntryTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecordEntry.RecordValueType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecordEntry.RecordValueType)
        </dd>
        @if (Model.RecordEntry.RecordValueType == Models.RecordValueTypes.Time)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RecordEntry.ValueTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RecordEntry.ValueTime)
            </dd>
        }
        @if (Model.RecordEntry.RecordValueType == Models.RecordValueTypes.Count)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RecordEntry.ValueCount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RecordEntry.ValueCount)
            </dd>
        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecordEntry.Record)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecordEntry.Record.RecordId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.RecordEntry.RecordEntryId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
