﻿@page
@model RecordTrackingApplication.Pages.RecordEntries.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RecordEntry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RecordEntry.RecordEntryId" />
            <div class="form-group">
                <label asp-for="RecordEntry.NameOfHolder" class="control-label"></label>
                <input asp-for="RecordEntry.NameOfHolder" class="form-control" />
                <span asp-validation-for="RecordEntry.NameOfHolder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordEntry.EntryTime" class="control-label"></label>
                <input asp-for="RecordEntry.EntryTime" class="form-control" />
                <span asp-validation-for="RecordEntry.EntryTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordEntry.RecordValueType" class="control-label"></label>
                <select asp-for="RecordEntry.RecordValueType" asp-items="ViewBag.HeroId" class="form-control"></select>
                <span asp-validation-for="RecordEntry.RecordValueType" class="text-danger"></span>
            </div>
            @if (Model.RecordEntry.RecordValueType == Models.RecordValueTypes.Time)
            {
                <div class="form-group">
                    <label asp-for="RecordEntry.ValueTime" class="control-label"></label>
                    <input asp-for="RecordEntry.ValueTime" class="form-control" />
                    <span asp-validation-for="RecordEntry.ValueTime" class="text-danger"></span>
                </div>
            }
            @if (Model.RecordEntry.RecordValueType == Models.RecordValueTypes.Count)
            {
                <div class="form-group">
                    <label asp-for="RecordEntry.ValueCount" class="control-label"></label>
                    <input asp-for="RecordEntry.ValueCount" class="form-control" />
                    <span asp-validation-for="RecordEntry.ValueCount" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="RecordEntry.RecordId" class="control-label"></label>
                <select asp-for="RecordEntry.RecordId" class="form-control" asp-items="ViewBag.RecordId"></select>
                <span asp-validation-for="RecordEntry.RecordId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
