﻿@page
@model RecordTrackingApplication.Pages.RecordEntries.IndexModel

@{
    ViewData["Title"] = "Index";


}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.RecordEntry.FirstOrDefault().Record.Hero)</th>

            <th>@Html.DisplayNameFor(model => model.RecordEntry.FirstOrDefault().Record.RecordName)</th>
            <th>
                @Html.DisplayNameFor(model => model.RecordEntry[0].NameOfHolder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordEntry[0].EntryTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordEntry[0].RecordValueType)
            </th>
            @if (Model.RecordEntry[0].RecordValueType == Models.RecordValueTypes.Time)
            {
                <th>@Html.DisplayNameFor(model => model.RecordEntry[0].ValueTime)</th>
            }
            @if (Model.RecordEntry[0].RecordValueType == Models.RecordValueTypes.Count)
            {
                <th>@Html.DisplayNameFor(model => model.RecordEntry[0].ValueCount)</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RecordEntry)
        {
        <tr>
            <td>@Html.DisplayFor(model => item.Record.Hero)</td>

            <td>@Html.DisplayFor(model => item.Record.RecordName)</td>
            <td>
                @Html.DisplayFor(model => item.NameOfHolder)
            </td>
            <td>
                @Html.DisplayFor(Model => item.EntryTime)
            </td>
            <td>
                @Html.DisplayFor(Model => item.RecordValueType)
            </td>
            @if (item.RecordValueType == Models.RecordValueTypes.Time)
            {
                <td>@Html.DisplayFor(Model => item.ValueTime)</td>
            }
            @if (item.RecordValueType == Models.RecordValueTypes.Count)
            {
                <td>@Html.DisplayFor(Model => item.ValueCount)</td>
            }
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RecordEntryId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RecordEntryId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RecordEntryId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
